@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    border: 1px solid white;
    -webkit-box-shadow: 0 0 0px 1000px #1e1e1e inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer base {
  * {
    @apply outline-none m-0 p-0
  }
  body {
    @apply  box-border list-none bg-dark text-white font-publicSans px-5 pb-5
  }
}